{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}">{{ 'navigation.brand'|trans }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('rent_show') }}">{{ 'navigation.link.my_books'|trans }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.locale == 'ru' %}active{% endif %}"
                           href="{{ path('main_change_locale', {_locale : 'ru', route : app.request.attributes.get('_route')}) }}">RU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.locale == 'en' %}active{% endif %}"
                           href="{{ path('main_change_locale', {_locale : 'en', route : app.request.attributes.get('_route')}) }}">EN</a>
                    </li>
                </ul>
                <a href="{{ path('ticket_register') }}" class="btn btn-success ml-2">{{ 'navigation.link.registration'|trans }}</a>

            </div>
        </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

{% endblock %}