{% extends "@App/layout.html.twig" %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                {% for cat in categories %}
                    <li class="nav-item">
                        <a class="nav-link {% if cat.id == active_category.id %}active{% endif %}"
                           href="{{ path('main_show', {id : cat.id}) }}">{{ cat.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% for row in books|batch(2) %}
            <div class="row mb-4">
                {% for book in row %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="book-image" style="background-image: url({{ vich_uploader_asset(book, 'imageFile') }})">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.author }}</h5>
                        <p class="card-text">{{ book.title }}</p>
                        {% if book.isAvailable %}
                            <a href="{{ path('rent_order', {id : book.id}) }}" class="btn btn-primary">{{ 'book.get_btn'|trans }}</a>
                        {% else %}
                            <p class="text-danger">{{ 'book.not-available'|trans }} {{ book.endDate|date('Y-m-d') }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% endfor %}
    </div>
    </div>
{% endblock %}
