{% extends "@App/layout.html.twig" %}

{% block title %}{{ 'rent.form.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center m-4">{{ 'rent.form.title'|trans }} #{{ book.id }}</h1>
    <p><strong>Автор: </strong>{{ book.author }} <strong>Название: </strong>{{ book.title }}</p>
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
    {{ form_row(form.ticketNumber, {'attr' : {'placeholder' : 'rent.form.ticket_number'|trans}}) }}
    {{ form_row(form.endDate) }}
    <div class="text-center">
        {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-success'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
