{% extends "@App/layout.html.twig" %}

{% block title %}{{ 'rent.show_form.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center m-4">{{ 'rent.show_form.title'|trans }}</h1>
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
    {{ form_row(form.ticketNumber, {'attr' : {'placeholder' : 'rent.form.ticket_number'|trans}}) }}
    <div class="text-center">
        {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-success'}}) }}
    </div>
    {{ form_end(form) }}

    <h3 class="m-4">{{ 'rent.show_form.books_taken'|trans }}:</h3>
    {% for data in result %}
        <p><strong>{{ data.book.author }}</strong>: {{ data.book.title }}</p>
        <p><strong>Статус: </strong>{{ data.status }}</p>
        <hr>
    {% endfor %}
{% endblock %}
