{% extends "@App/layout.html.twig" %}

{% block title %}{{ 'ticket.form.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center m-4">{{ 'ticket.form.title'|trans }}</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            {{ form_row(form.fullName, {'attr' : {'placeholder' : 'ticket.form.fullname'|trans}}) }}
            {{ form_row(form.address, {'attr' : {'placeholder' : 'ticket.form.address'|trans}}) }}
            {{ form_row(form.passport, {'attr' : {'placeholder' : 'ticket.form.passport'|trans}}) }}
            <div class="text-center">
                {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-success'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
