{% extends "@App/layout.html.twig" %}

{% block title %}{{ 'ticket.form.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center m-4">{{ 'ticket.registration_success.title'|trans }}</h1>
    <p class="text-center">{{ 'ticket.registration_success.warning'|trans }} {{ ticket.ticketNumber }}</p>
{% endblock %}
